


article {
    

    max-width: 1111px;


    align-items: center;
    margin-bottom: 1rem;
}

h3 {
    
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

article button {
    background-color: rgb(126, 9, 126); 
    color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer; 
    border-radius: 4px;
    margin: 0.5rem; 
}

article button:hover {
    color: aliceblue;
    background-color: #34006e;
}
