.itemList {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.Card {

  width: 300px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin-bottom: 20px; 
  background-color: #fff;
}

.Card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px; 
  }

.Card h3 {
  font-size: 1.2rem; 
  color: #888;
  margin-bottom: 10px; 
}

.Card h4 {
  font-size: 1.2rem; 
  color: #555;
  margin-bottom: 10px; 
}

.Card img.thumb {
  width: 100%; 
  height: auto; 
  margin-bottom: 15px; 
}

.Card p.description {
  font-size: 1rem; 
  color: #666;
  margin-bottom: 15px; 
  }

.Card button {
  background-color: #007bff; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}

.Card button a {
  text-decoration: none; 
  color: #fff; 
}
