
header {
    background-color: #333;
    width: 200px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 20px;
}

nav a {
    display: block;
    color: rgb(165, 82, 165);
    text-decoration: none;
    padding: 10px 0;
}

nav a:hover {
    color: whitesmoke;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

h2 {
    color: white; 
    font-size: 29;
    margin: 0;
}
