
#root {
  background-color: aquamarine;
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

article {
  margin-bottom: 20px; 
}

article p {
  color: rgb(197, 173, 173);
  font-size: 26px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 10px;
}

.itemList {

  display: flex ;
  flex-wrap: wrap ;
  justify-content: space-around;
}

.Card {

  width: 300px; 
  border: 3px solid #000000; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin-bottom: 20px; 
  background-color: #fff;
}

.Card:hover {
  transform: scale(1.007); 
  transition: transform 0.3s ease; 
  box-shadow: 3px 3px 10px rgb(32, 4, 4);}

.Card h2 {
  color: blue;
  font-size: rem;
  margin-bottom: 10px; 
  }

.Card h3 {
  font-size: 0.8rem; 
  color: #888;
  margin-bottom: 10px; 
}

.Card h4 {
  font-size: 1.2rem; 
  color: #555;
  margin-bottom: 10px; 
}

.Card img.thumb {
  width: 100%; 
  height: auto; 
  margin-bottom: 15px; 
}

.Card p.description {
  font-size: 1rem; 
  color: #666;
  margin-bottom: 15px; 
  }

.Card button {
  background-color: #007bff; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}

.Card button a {
  text-decoration: none; 
  color: #fff; 
}

.ItemDetail {
  text-align: center; 
  background-color: aliceblue;
  border: 5px solid black;
}

.ItemDetail img {
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
  opacity: 0.7;}

.TagContainer {
  display: flex;
  flex-wrap: wrap;
}

.TagButton {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #black;
  border-radius: 20px; 
  background-color transparent; 
  color: # rgb(126, 9, 126); 
  text-decoration: none; }

.TagButton:hover {
  cursor: pointer;
  background-color: rgb(126, 9, 126) !important; 
  color: white; 
}



.CartItem {
  text-align: center;
  background-color: aliceblue;
  border: 5px solid black;
  width: 200px;
  margin: 10px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.CartItemImage {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  opacity: 0.7;
}

.CartItemContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.CartItemDetails {
  flex-grow: 1; 
}

.carrito button {
    background-color: rgb(126, 9, 126); 
    color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer; 
    border-radius: 4px;
    margin: 0.5rem; 
}

.carrito button:hover {
    color: aliceblue;
    background-color: #34006e;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.listado-compras {
  border-right: 1px solid #ccc;
  margin-right: 20px;
  text-align: right;
  width: 50%;
  padding: 20px;
}

.listado-compras ul {
  list-style: none; 
}




.formulario {
  width: 50%;
  padding: 20px;
}

.listado-compras {
  border-right: 1px solid #ccc; 
  margin-right: 20px;
}
