
main {
    padding-left: 300px;
    text-align: center;

}



.Item-Details {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .Item-Details h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
