
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
width: 50%;
}

input {
display: block;
margin-bottom: 10px;
}

input {
margin-left: 10px;
}

button {
    background-color: rgb(126, 9, 126) !important; 
    color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer; 
    border-radius: 4px;
    margin: 0.5rem; 
}

button:hover {
    color: aliceblue;
    background-color: #34006e !important;
}
